.report-title {
  font-size: 17px;
  color: grey;
  font-weight: bold;
}

.label-date-from-to {
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
  vertical-align: middle;
}

.report-button {
  color: white;
  width: 100%; 
}